*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(images/background.jpg);
  background-position: center;
  background-size: cover;
  
  font-family: 'Roboto', sans-serif;

  text-align: center;
}

.title{
  background: #edc2ce;

  width: 100%;
  padding: 50px;
}

.title:hover{
  background: none;
  transition: 1500ms;
}

.title h1 span{
  color: #000;
}

.container{
  width: 300px;

  margin: 60px auto;
}

img.avatar{
  border-radius: 50%;
  border: #edc2ce solid 4px;

  width: 130px;
  height: 130px;
  padding: 3.7px;
}

h1{
  font-size: 40px;

  color: white;

  margin-bottom: 8px;
}

p{
  font-weight: bold;
  font-size: 20px;
  color: #000;
}

ul{
  list-style: none;
  margin: 60px 0;
}

a{
  text-decoration: none;
  font-weight: bold;
}

ul li a{
  height: 53px;
  margin-bottom: 16px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  background: #cb8c90aa; 
  color: #000;

  text-transform: uppercase;
  font-size: 16px;

  border-radius: 10px;

  transition: background 400ms;
}

ul li a:hover {
  background: #edc2ce;
}

footer, footer a{
  font-size: 16px;
  color: #000;
}

footer a{
  color: #535151;
}

footer a:hover{
  color: #edc2ce;
}

